<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>layouts</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div style="background-color: yellow">fartun</div>
    <div style="background-color: yellow">sahra</div>
    <span style="background-color: green">xaawo</span>
    <span style="background-color: green">faadumo</span>
    <p>nadiifa</p>
  </body>
</html>
